.home-titulo{
    text-align: center;
    margin-top: 20px;
    color: #909090;
    font-size: 60px;
}

.home-subtitulo {
    text-align: center;
    color: 	#FF69B4;
    font-family: Verdana;
    font-weight: bold;
}